DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

TELEGRAM_BOT_TOKEN=

MINIO_ROOT_USER=trak
MINIO_ROOT_PASSWORD=trak-local-password
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=attachments
MINIO_REGION=us-east-1
